src/Library/bin/
src/Library/obj/

Tests/bin/
Tests/obj/
Tests/TestResults/

Benchmarks/bin/
Benchmarks/obj/
Benchmarks/BenchmarkDotNet.Artifacts/

GraphsAndStatistics/venv/

src/Trees/bin/
src/Trees/obj/